{{ $services := .Site.Data.services }}

<section class="blue">
  <h2 class="heading">{{ $services.title }}</h2>

  <div class="row justify-content-md-center text-center">

    {{ range $index, $element := $services.services }}

    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card p-4">
        <i class="mt-3  fa fa-{{ $element.icon }}"></i>
        <h5 class="mt-4">{{ $element.title }}</h5>
        <p class="text-muted">{{ $element.description }}</p>
        {{ $website := $element.website }}
        {{ if $website }}
        <a target="_blank" href="{{ $website }}">
          <i class="fas fa-link"></i>
          {{ $website }}
        </a>
        {{ end }}
      </div>
    </div>

    {{ end }}
  </div>
</section>